@tailwind base;
@tailwind components;
@tailwind utilities;

.transaction-page {
  @apply w-3/4 m-auto flex flex-col justify-center items-center;
}

h1,
h2,
h3,
p {
  @apply m-2;
}

input {
  @apply mb-2;
}

main {
  min-height: calc(100vh - 200px);
  background-color: red;
  padding: 2rem;
  @apply bg-base-100;
}
