@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p,
label,
legend {
  @apply mt-2 mb-2 p-2;
}

label,
legend {
  @apply font-bold;
}

input {
  @apply mb-3;
}

button {
  @apply ml-1;
}

main {
  @apply w-1/2 m-auto  flex flex-col justify-center items-center bg-base-100 min-h-[calc(100vh-210px)] max-h-full p-5 rounded-xl;
}

footer {
  @apply flex justify-center bg-base-100 items-center gap-5 py-5 absolute w-full mb-0;
}

header {
  @apply bg-base-100 flex justify-between navbar;
}

.theme-dropdown {
  max-height: 600px;
  width: 220px;
  margin-left: -130px;
  overflow-y: scroll;

  @apply shadow menu dropdown-content z-[1] bg-base-100 rounded-box;
}

.with-border {
  border: 2px solid red; /* Specify your desired border color */
}

.profile-container {
  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 120px;
    margin-bottom: 100px;
    margin-bottom: 150px;
  }
}

.profile-window {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin-bottom: 100px;
  }
}

.nav-section {
  width: fit-content;
  padding: 1rem;
  @media (max-width: 640px) {
    margin-bottom: 400px;
  }
}
